<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only clear (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Assign Job
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-list>
    <ion-item *ngIf="isLoading" class="loading-item">
      <ion-spinner name="ios"></ion-spinner>
    </ion-item>

    <form novalidate class="main-form" *ngIf="request">
      <ng-container *ngIf="request.instructions">
        <p class="item-header" margin-left>Comments From Horse Manager</p>
        <p margin-left class="text-italic">{{request.instructions}}</p>
      </ng-container>

      <p class="item-header margin-bottom-none" margin-left>Horse</p>
      <ion-item *ngIf="request._horse.barnName" class="background-transparent border-btm-none font-14">
        {{request._horse.barnName}}
      </ion-item>

      <p class="item-header margin-bottom-none" margin-left>Trainer</p>
      <ion-item *ngIf="request._horse._trainer" class="background-transparent border-btm-none font-14">
        {{request._horse._trainer.name}}
      </ion-item>

      <!-- Service provider -->
      <p class="item-header" margin-left>Service Provider</p>
      <ion-item (click)="goToSearchModal(serviceProviderFunction, 'Service Provider Name')" class="search-item font-14">

        <ion-avatar item-start>
          <img *ngIf="request._reassignedTo" src="{{userService.getAvatarUrlForUser(request._reassignedTo)}}">

          <img *ngIf="!request._reassignedTo" src="assets/images/grey-placeholder.jpg">
        </ion-avatar>

        <p *ngIf="!request._reassignedTo" ion-text color="jumbo-grey">Service Provider Name</p>
        <p *ngIf="request._reassignedTo && !serviceProviderUntouched" ion-text color="dark">{{request._reassignedTo.name}}</p>
        <p *ngIf="request._reassignedTo && serviceProviderUntouched" ion-text color="jumbo-grey">{{request._reassignedTo.name}}</p>
        <ion-icon name="search" item-end color="jumbo-grey"></ion-icon>
      </ion-item>
      <div *ngIf="submitAttempt && !request._reassignedTo" class="form-control-error">Required</div>

      <!-- Services -->
      <p class="item-header" margin-left id="services-section">Services</p>
      <ion-list>
        <ng-container *ngIf="request && services">
          <ion-card *ngFor="let service of services; let i=index" class="service-item service-card border-btm">
            <ion-grid class="margin-top-none margin-bottom-none">
              <ion-row class="margin-top-none margin-bottom-none">
                <!-- Lock in the names and rates of previously created services; newly added ones are editable -->
                <ion-col col-8 class="margin-top-none margin-bottom-none">
                  <ion-label margin-left *ngIf="!service.addedThisVisit" class="service-name">{{service.service}}</ion-label>
                  <ion-input margin-left *ngIf="service.addedThisVisit" class="service-name name-input" type="text" value="{{service.service}}" placeholder="Service Name" (ionFocus)="scrollToServiceInput(i)" (ionChange)="setServiceName(service, $event)"></ion-input>
                </ion-col>
                <ion-col class="margin-top-none margin-bottom-none">
                  <ion-icon item-content tappable class="remove-btn" color="danger" name="remove-circle" (click)="removeService(i)" item-right></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="margin-top-none margin-bottom-none">
                <ion-col col-7 class="margin-top-none margin-bottom-none">
                  <ion-label margin-left *ngIf="!service.addedThisVisit" class="rate-label">Service Price {{service.rate | currency:'USD':true:'1.2'}}</ion-label>
                  <ion-label margin-left *ngIf="service.addedThisVisit" class="rate-label">Service Price $
                    <ion-input *ngIf="service.addedThisVisit" class="rate-input" type="number" placeholder="0" (ionFocus)="scrollToServiceInput(i);clearValue($event)" (ionChange)="setServiceRate(service, $event)"></ion-input>
                  </ion-label>
                </ion-col>
                <ion-col col-2 class="margin-top-none margin-bottom-none">
                  <ion-label class="quantity-label">Qty</ion-label>
                </ion-col>
                <ion-col col-2 class="margin-top-none margin-bottom-none">
                  <ion-input class="quantity-input" type="text" pattern="\d*" value="{{service.quantity}}" (ionFocus)="scrollToServiceInput(i);clearValue($event)" (ionChange)="setServiceQuantity(service, $event)"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ng-container>

        <!-- Service selector opens checkbox list of provider's services -->
        <ion-item *ngIf="currentAssignee.services">
          <ion-label>Add Services</ion-label>
          <ion-select #serviceSelector ng-model="selectedServices" padding-right [disabled]="servicesError" (ionChange)="updateServices($event, true)" selectedText=" " multiple="true" name="services">
            <ion-option *ngFor="let service of currentAssignee.services" ng-model="service" [value]="service" [selected]="inServiceList(service)">{{service.service}} {{service.rate | currency:'USD':true:'1.2'}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- Add service -->
        <ion-item (click)="addService()" class="add-item">
          <span ion-text color="secondary">Add Custom Service<ion-icon float-right name="ios-add-circle-outline" color="secondary" class="add-btn"></ion-icon></span>
        </ion-item>
        <div *ngIf="servicesError" class="form-control-error">All services must have a valid name, rate of at least $1.00, and whole number quantity greater than 0 - numeric characters only.</div>

        <p
          ion-text
          margin-right
          margin-left
          color="primary"
          class="line-height">
          Horse managers will see these prices increased by {{constants.STRIPE_PERCENTAGE * 100}}% as the HorseLinc service fee.
        </p>
      </ion-list>

      <!-- Provider Notes -->
      <p class="item-header" margin-left id="services-section">Notes</p>
      <ion-item>
        <ion-textarea
        id="provider-notes"
        (ionFocus)="scrollToNotesInput()"
        #providerNotes
        autocomplete="on"
        autocorrect="on"
        fz-elastic
        rows="2"
        type="text"
        value="{{request.providerNotes}}"
        placeholder="Add notes for the service provider (optional)."></ion-textarea>
      </ion-item>
    </form>

    <ion-item class="background-transparent" *ngIf="!isLoading">
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block round outline color="secondary" (click)="viewCtrl.dismiss()">Cancel</button>
          </ion-col>
          <ion-col>
            <button ion-button block round color="secondary" [disabled]="(!request?._reassignedTo) || (services && services.length < 1) || servicesError" (click)="goToConfirmation()">Submit</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>