<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear (click)="viewCtrl.dismiss()">
        <ion-icon class="back-btn" name="md-close" color="light"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Update Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-form" margin-top>
  <form [formGroup]="form" novalidate *ngIf="authService.currentUser">
    <ion-list>
      <ion-item>
        <ion-input formControlName="oldPassword" type="password" placeholder="Old Password" required></ion-input>
      </ion-item>
      <control-errors [control]="form.controls.oldPassword"></control-errors>

      <ion-item>
        <ion-input formControlName="newPassword" type="password" placeholder="New Password" required></ion-input>
      </ion-item>
      <control-errors [control]="form.controls.newPassword"></control-errors>

      <ion-item>
        <ion-input formControlName="confirmPassword" type="password" required placeholder="Confirm Password"></ion-input>
      </ion-item>
      <control-errors [control]="form.controls.confirmPassword"></control-errors>
      <div class="control-errors" *ngIf="matchError && submitAttempt">Passwords must match</div>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <div padding class="btn-container">
    <button
      ion-button
      block
      round
      color="secondary"
      class="solid-round"
      (click)="submit()"
      [disabled]="isSubmitting">
      Save Changes
      <ion-spinner *ngIf="isSubmitting" name="ios-small" color="white" margin-left></ion-spinner>
    </button>
  </div>
</ion-footer>




