page-onboarding {
  .content {
    background-color: color($colors, primary);
  }

  .toolbar-background {
    background: color($colors, primary);
    border-color: transparent;
  }

  .toolbar-ios {
    padding-top: 15px;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
  }

  b {
    font-weight: 500;
  }

  p {
    text-align: left;
    padding: 0 25px;
    font-size: 14px;
    line-height: 1.5;
    color: color($colors, light);
    font-family: $font-family-bold;
    margin-bottom: 5px;

    b {
      color: #000;
    }
  }

  h2 {
    padding: 0px 16px;
    color: color($colors, light);
    font-size: 20px;
    font-family: $font-family-bold;
  }

  ul {
    margin-top: 30px;
    padding-left: 40px;
    color: color($colors, light);
  }

  li {
    font-size: 14px;
    text-align: left;
    font-family: $font-family-bold;
  }

  .swiper-pagination-bullet {
    background: color($colors, light);
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, teal);
  }
}
